@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

h1,
p,
a,
span {
  font-family: var(--font-inter);
  font-weight: 300;
}
